/* Styles for Product Page Customization */

* {
	margin: 0;
	padding: 0;
	}

body {
   	color: #270722;
	font-family: georgia, sans-serif;
	font-size: 20px;
	background-color: #4F5D2F;
}

header {
	background-image: url(design/wood-banner.jpg);
	background-repeat: no-repeat;  
	background-position: center center;
	background-size: cover;
	margin-bottom: 50px;
	height: 400px; 
}

#header-content {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-size: 120px;
	padding-top: 220px;
	text-align: left;
	color: #270722;
	text-shadow: 2px 2px #93A3B1;  
}

h2 {
	font-size: 70px;
	padding-bottom: 20px;
	padding-top: 100px;
	display: inline-block;
	text-shadow: 1px 1px #93A3B1;
}

p {
	font-size: 25px;
}

nav ul {
	clear: both;
	padding-top: 0;
	padding-bottom: 15px;
	}

nav ul li {
	display: inline;
	padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
	}

ul li {
    list-style-type: none;
}

.buttons {
	text-align: left;
	background-color: #93A3B1;
	color: #124559;
	border-radius: 25px;
    border: 2px solid black; 
	padding: 8px 20px;
    margin-top: 10px;
}

a:link {
    text-decoration: none;
	color: #124559;
}

a:visited {
    color: #01161E;
}
a:hover {
	font-size: 120%
}

#sign-up-top-button {
	margin-left: 370px;
}

#content {
  width: 1200px;
  margin: 0 auto;
}

#float-content {
	width: 1000px;
	float:left;
	}

#sidebar {
	width: 160px;
	float: left;
	border: 2px solid black;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
	background-color: #93A3B1;
	color:  #124559;
	margin: 100px  0;
}

.float:after {
	content: "";
	display: table;
	clear: both;
}

#sidebar ul li {
	display: inline;
}

#sidebar ul {
	padding-top: 5px;
}

#sidebar p {
	font-size: 15px;
}

#content:after {
	content: "";
	display: table;
	clear: both;
}

.intro-photo {
	padding-bottom: 100px;
	padding-top: 100px;
	text-align: center;
	font-size: 30px;
}

#video p {
	padding-bottom: 10px;
}

#list-features p {
	font-size: 18px;
}

.features-photos {
	width: 450px;
	margin-bottom: 30px;
	margin-right: 10px;
	border: 1px solid; 
	border-color: black;
}

#best-api:after {
	content: "";
	display: table;
	clear: both;
}

#payment:after {
	content: "";
	display: table;
	clear: both;
}

#catalog:after {
	content: "";
	display: table;
	clear: both;
}

#shopping:after {
	content: "";
	display: table;
	clear: both;
}

#testimonials p {
	padding-bottom: 20px;
}

.sign-up {
	font-size: 40px;
	text-align: center;
	background-color: #93A3B1;
	color: #124559;
	border-radius: 25px;
    border: 2px solid black; 
	padding: 15px 40px;
}

.sign-up:hover {
	font-size: 120%
}

.action-button {
	width: 400px;
	margin: 50px auto;
}

footer {
	background-color: #124559;
	background-size: cover;
	height: 200px; 
	margin-top: 50px;
}

#footer-content {
	max-width: 1200px;
	margin: 0 auto;
}

#contact-info {
	width: 40%;
	float: left;
	padding: 20px;
}

#contact-info:after {
	content: "";
	display: table;
	clear: both;
}

#footer-text {
	width: 40%;
	float: left;
	padding-top: 20px;
}

#footer-text p {
	font-size: 20px;
}

#footer-text:after {
	content: "";
	display: table;
	clear: both;
}

